.section1 {
  padding: 35px 0 55px;
  border-bottom: 3px solid $lightMain;
  background-color: $purpule;

  .section__title {
    margin-bottom: 32px;
    color: $lightMain;
  }

  .section__subtitle {
    color: $lightMain;
  }

  &__textBlock {
    max-width: 460px;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 65px;

  &__logo {
    display: block;
    width: 207px;

    img {
      display: block;
      width: 100%;
    }
  }

  &__phone {
    display: block;
    margin-bottom: 8px;
    font-size: $supBigText2;
    line-height: 135%;
    font-weight: $bold;
    text-decoration: none;
    color: $lightMain;
  }

  &__email {
    display: block;
    font-size: $normalText;
    font-weight: $normal;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: $lightMain;
    opacity: 0.6;
  }

  &__absBlock {
    position: absolute;
    right: 0;
    bottom: -55px;
    width: 417px;

    img {
      display: block;
      width: 100%;
    }

    p {
      position: absolute;
      right: -16px;
      bottom: 37px;
      text-align: center;
      box-sizing: border-box;
      max-width: 404px;
      padding: 20px;
      font-size: $bigText;
      background: rgba(255, 255, 255, 0.75);
      color: $darkFont;
    }
  }

  &__bg {
    position: absolute;
    top: -35px;
    left: 50%;
    display: block;
    width: 550px;
    margin-left: -180px;
  }
}

.section__form {
  padding: 56px 0 90px;
  background-color: $red;

  .section__subtitle {
    text-align: center;
    margin-bottom: 56px;
    line-height: 40px;
    color: $lightMain;
  }
}

.mainForm {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;

  &__inputbox {
    display: block;
    box-sizing: border-box;
    min-height: 48px;
    width: calc(25% - 60px / 4);
    padding: 0 16px;
    margin: 0;
    font-size: $normalText;
    line-height: 135%;
    color: $darkMain;
    background-color: $lightMain;
    border: none;
    border-radius: 8px;

    &::placeholder {
      color: #9fa0af;
    }
  }

  &__button {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    width: calc(25% - 60px / 4);
    min-height: 48px;
    padding: 0 24px 0 32px;
    border: 2px solid $lightMain;
    border-radius: 8px;
    background-color: transparent;
    font-weight: 600;
    font-size: $normalText;
    line-height: 135%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $lightMain;
    cursor: pointer;

    span {
      display: flex;
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
      height: 24px;
      width: 24px;
      background-color: $lightMain;
      border-radius: 50%;

      svg {
        display: block;
        margin-left: -3px;
      }
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.section__yourTenis {
  padding: 88px 0 173px;

  .section__title {
    text-align: center;
    color: $darkMain;
  }
}

.yourTenis {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  margin-top: 80px;
  margin-bottom: -64px;

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(50% - 65px);
    margin-bottom: 64px;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96px;
    width: 96px;
    margin-right: 32px;
    background-color: $purpule;
    border-radius: 50%;
    flex-shrink: 0;

    svg {
      display: block;
    }
  }

  &__title {
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    /* Gray 1 */
    color: #333333;
  }

  &__desc {
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    /* or 22px */
    /* Gray 1 */
    color: #333333;
  }
}

.section_why {
  background-color: $purpule;
}

.why {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  &__banner {
    width: calc(50% - 65px);
    margin-top: -70px;
    margin-right: 50px;
  }

  &Banner {
    padding: 100px 60px 100px 0;

    .section__title {
      box-sizing: border-box;
      padding-left: 53px;
      margin-bottom: 55px;
      color: $lightMain;
    }

    &__item {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      & + & {
        margin-top: 32px;
      }
    }

    &__icon {
      height: 29px;
      width: 37px;
      margin-top: -5px;
      margin-right: 16px;
    }

    &__title {
      display: block;
      margin-bottom: 20px;
      font-weight: bold;
      font-size: 18px;
      line-height: 150%;
      /* or 27px */
      color: $lightMain;
    }

    &__desc {
      font-weight: normal;
      font-size: 15px;
      line-height: 150%;
      /* or 22px */
      color: $lightMain;
    }
  }
}

.section__timetable {
  padding: 88px 0;

  .section__title {
    text-align: center;
    margin-bottom: 72px;
  }
}

.table {
  display: table;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);

  .row__heading {
    .col {
      padding: 15px;
      color: $lightMain;
    }
  }

  .col {
    text-align: center;
    box-sizing: border-box;
    width: 5%;
    padding: 20px;
    font-weight: 600;
    font-size: 15px;
    line-height: 150%;
    color: #2d2d35;
    background: #eeeff9;

    &--big {
      width: 10%;
    }

    &--purple {
      background: #4b58bf;

      &--light {
        background: #8390fa;
      }
    }

    &--pink {
      background: #b083fa;
    }

    &--gray {
      background: #dfe1f1;
    }
  }
}

.timetable__desc {
  max-width: 900px;
  margin: 40px auto 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */
  text-align: center;
  /* Gray 1 */
  color: #333333;

  &__link {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    text-decoration: underline;
    color: #3a3fa5;
  }
}

.reviews {
  margin: 0 -10px;

  &__item {
    box-sizing: border-box;
    margin: 0 10px;
  }

  &__itemWrap {
    box-sizing: border-box;
    padding: 74px 86px 48px;
    background: #eeeff9;
  }

  &__icon {
    overflow: hidden;
    display: block;
    height: 100px;
    width: 100px;
    margin: 0 auto -50px;
    border-radius: 50%;

    img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__title {
    display: block;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    text-align: center;
    color: #211a1d;
  }

  &__stars {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px auto 24px;
    list-style: none;
  }

  &__star {
    margin: 0 3px;
  }

  &__desc {
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    /* or 22px */
    text-align: center;
    color: #211a1d;
  }

  &__tools {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 46px;
  }
}

.section__reviews {
  padding: 0 0 96px;

  .section__title {
    text-align: center;
    margin-bottom: 88px;
  }
}

.section__gallery {
  padding-bottom: 150px;

  .section__title {
    text-align: center;
    margin-bottom: 72px;
  }
}

.gallery {
  &__item {
    width: calc(400px - 20px);
    margin: 0 10px;
  }
}

.section__questions {
  position: relative;
  padding-bottom: 88px;

  .section__title {
    text-align: center;
    margin-bottom: 72px;
  }
}

.questions {
  display: block;
  box-sizing: border-box;
  border: 1px solid #e3e4eb;
  border-bottom: none;

  &:last-child {
    border-bottom: 1px solid #e3e4eb;
  }

  &__heading {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    min-height: 78px;
    padding: 0 20px 0 40px;
  }

  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    color: #211a1d;
  }

  &__icon {
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #494fcd;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 24px;
      height: 2px;
      margin-left: -12px;
      margin-top: -1px;
      background-color: $lightMain;
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 2px;
      height: 24px;
      margin-left: -1px;
      margin-top: -12px;
      background-color: $lightMain;
    }
  }

  &__content {
    display: none;
    box-sizing: border-box;
    padding: 24px 24px 32px 60px;
    border-left: 4px solid $red;
    background: #eeeff9;

    span {
      display: block;
      max-width: 690px;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      /* or 24px */
      color: #211a1d;
    }
  }

  &--active {
    .questions__icon {
      background-color: #e3e4eb;

      &:before {
        background: #070707;
      }

      &:after {
        display: none;
      }
    }
  }
}

.section__news {
  position: relative;
  padding-bottom: 88px;

  .section__title {
    text-align: center;
    margin-bottom: 72px;
  }
}

.news {
  margin: 0 -10px;

  &__link {
    position: absolute;
    top: 22px;
    right: 0;
    display: block;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    text-align: right;
    text-decoration-line: underline;
    /* main blue */
    color: #3a3fa5;
  }

  &__item {
    margin: 0 10px;
    background: #eeeff9;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      .news__desc {
        color: #3a3fa5;
      }
    }
  }

  &__img {
    display: block;
    height: auto;
    width: 100%;
  }

  &__text {
    box-sizing: border-box;
    padding: 24px 36px 80px 32px;
  }

  &__date {
    display: block;
    margin-bottom: 24px;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    /* or 22px */
    /* серый шрифт подвал */
    color: #9fa1b0;
  }

  &__desc {
    font-weight: 600;
    font-size: 15px;
    line-height: 150%;
    /* or 22px */
    /* dark font */
    color: #2d2d35;
  }
}

.section__map {
  .section__subtitle {
    margin-bottom: 48px;
    font-weight: 700;
    color: $lightMain;
  }

  .mainForm {
    box-sizing: border-box;
    display: block;
    max-width: 420px;
    padding: 48px 75px 80px 48px;
    background-color: $red;

    .mainForm__inputbox,
    .mainForm__button {
      width: 100%;
    }

    .mainForm__inputbox + .mainForm__inputbox {
      margin-top: 24px;
    }

    .mainForm__button {
      margin-top: 48px;
      background-color: $lightMain;
      color: $darkFont;

      span {
        background-color: $red;

        svg {
          path {
            stroke: $lightMain;
          }
        }
      }
    }
  }
}

.section__map {
  padding-bottom: 126px;
}

.map {
  width: calc(100% - 420px);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
}

.infoBlock {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 64px;

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 264px;
    margin-right: auto;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 56px;
    margin-right: 16px;
    background: #3a3fa5;
    border-radius: 50%;
    flex-shrink: 0;
  }

  &__title {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 15px;
    line-height: 150%;
    /* or 22px */
    /* main blue */
    color: #3a3fa5;
  }

  &__desc {
    display: block;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    /* or 22px */
    /* основной темный */
    color: #2a2d34;
  }

  &__phone {
    display: block;
    text-decoration: none;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    /* or 22px */
    /* основной темный */
    color: #2a2d34;
    text-decoration: none;
  }

  &__email {
    display: block;
    text-decoration: none;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    /* or 22px */
    /* основной темный */
    color: #3a3fa5;
    text-decoration: none;
  }
}

.infoBlock__item--whatsApp {
  .infoBlock__icon {
    background-color: #4edb54;
  }

  .infoBlock__title {
    color: #4edb54;
  }
}

.footer {
  background: #f4f5ff;

  &__topBlock {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .partners__link {
    display: block;

    img {
      display: block;
      width: 100%;
    }
  }

  &__copyright {
    background: #eeeff9;
    padding: 30px 0;

    span {
      display: block;

      font-size: 15px;
      line-height: 15px;
      text-align: center;
      color: #211a1d;
    }
  }
}
